 
 @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Maiden+Orange&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(19, 18, 18);
}

h1{
    font-family: 'Maiden Orange', serif;
    font-size: 10rem;
    color: rgb(190, 173, 13);
    text-align: center;
    margin-top: 15rem;
}
